<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | RETU</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/login_styles.css}" />
  <link rel="stylesheet" th:href="@{/css/old_styles.css}" />
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img th:src="@{/imagenes/maestra.jpg}" alt="">
        <div class="text">
          <span class="text-1">RETU: La herramienta que todo tutor necesita </span>
          <span class="text-2"> Tu compañero en cada paso del semestre</span>
        </div>
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Educación organizada, resultados extraordinarios</span>
          <span class="text-2">Más productividad, menos estrés</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="retu_logo">
            <img th:src="@{/imagenes/logo.png}" alt="">
          </div>
          <div class="title">Inicio de Sesión</div>
          <form th:action="@{/login}" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" class="form-control" name="username" id="username" required
                  placeholder="email@ues.edu.sv" />
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" class="form-control" name="password" id="password" required
                  placeholder="contraseña" />
              </div>
              <div class="text"><a href="#">¿Olvidé mi contraseña?</a></div>
               <button type="submit" class="btn btn-primary w-100 fw-bold">Ingresar</button>
              <div>
                <button class="google-login-btn-official">
                  <img th:src="@{/imagenes/google.svg}" alt="Google Logo">
                  <span>Sign in with Google</span>
                </button>
              </div>
              <div class="text sign-up-text">¿No tienes una cuenta? <label for="flip">Crear cuenta</label></div>
            </div>
          </form>
        </div>
        <div class="signup-form">
          <div class="title">Crear Cuenta</div>
          <form th:action="@{/login}" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Ingresa tu nombre" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ingresa tu email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Ingresa tu contraseña" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Ingresar">
              </div>
              <div class="text sign-up-text">¿Ya tienes una cuenta? <label for="flip">Ingresar ahora</label></div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <div th:if="${param.error}" class="mt-3">
    <p class="text-danger">Credenciales inválidas</p>
  </div>
</body>

</html>